@page "/resultsoverview"
@page "/resultsoverview/{QuizId:guid}"

@attribute [Authorize]

@using quiz.Ui.Components
@using quiz.ModelBusiness

@* Если данные в контрол ещё не загружены полностью, то *@
@if (!IsLoaded)
{
    @* Отображение пользователю надписи "Загрузка". *@
    <DxLoadingPanel Visible="true"
                    Text="Загрузка..."
                    ApplyBackgroundShading="false"
                    IndicatorAnimationType="WaitIndicatorAnimationType.Spin">
    </DxLoadingPanel>
}
else
{
    @* Если пользователю разрешено просматривать результаты теста, то *@
    @if (CanUserSeeQuizResults)
    {
        @* Если нет данных для отображения, то *@
        @if (!CorrectAnswers.Any() && !IncorrectAnswers.Any())
        {
            // Отображение пользователю надписи "Нет данных".
            <p class="align-middle"><em>Нет данных</em></p>
        }
        else
        {
            <div class="lead">
                Правильных ответов @CorrectAnswers.Count из @(IncorrectAnswers.Count + CorrectAnswers.Count).
            </div>
            <div class="my-2">
                <DxProgressBar MinValue=0 MaxValue=@(IncorrectAnswers.Count + CorrectAnswers.Count) Value=@CorrectAnswers.Count LabelPosition="ProgressBarLabelPosition.Bottom" Thickness="5px"/>
            </div>

            <div class="h5 text-success mt-4 mb-2">
                Правильные ответы
            </div>

            @* Формирование таблицы со списком вопросов, на которые был дан правильный ответ. *@
            <DxGrid 
                    @ref="GrdCorrectAnswers"
                    Data="@CorrectAnswers"
                    KeyFieldName="Id"
                    AllowSelectRowByClick="false">
                <Columns>
                    <DxGridDataColumn FieldName="QuestionText"
                                      Caption="Вопрос"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="CorrectAnswerText"
                                      Caption="Ответ"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="AnsweredAt"
                                      Caption="Дата и время"
                                      DisplayFormat="g"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="RepetitionInterval"
                                      Caption="Интервал повторения (дней)"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="NextDueCaption"
                                      Caption="Следующее повторение"
                                      DisplayFormat="d"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                </Columns>
            </DxGrid>

            <div class="h5 text-danger mt-4 mb-2">
                Неправильные ответы
            </div>

            @* Формирование таблицы со списком вопросов, на которые был дан неправильный ответ. *@
            <DxGrid 
                @ref="GrdIncorrectAnswers"
                Data="@IncorrectAnswers"
                KeyFieldName="Id"
                AllowSelectRowByClick="false">
                <Columns>
                    <DxGridDataColumn FieldName="QuestionText"
                                      Caption="Вопрос"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="SelectedAnswerText"
                                      Caption="Выбранный ответ"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="CorrectAnswerText"
                                      Caption="Правильный ответ"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="AnsweredAt"
                                      Caption="Дата и время"
                                      DisplayFormat="g"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="RepetitionInterval"
                                      Caption="Интервал повторения (дней)"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                    <DxGridDataColumn FieldName="NextDueCaption"
                                      Caption="Следующее повторение"
                                      DisplayFormat="d"
                                      TextAlignment="GridTextAlignment.Center"
                                      CaptionAlignment="GridTextAlignment.Center" />
                </Columns>
            </DxGrid>

            @* Если зафиксированы ошибки, то *@
            @if (HasErrors)
            {
                // Вывод текста сообщения об ошибке.
                <div class="alert alert-danger mt-2">@ResultDescription</div>
            }
        }

        @* Кнопки управления *@
        <div class="row">
            @* Рамка отступов вокруг кнопок управления *@
            <div class="col d-flex align-content-stretch mx-1 mt-2">
                <DxButton Click="NavigateToTopicChoosePage" RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Outline" class="m-1 ms-auto" style="width: 210px">
                    К выбору темы
                </DxButton>
            </div>
        </div>
    }
    else
    {
        <div class="h3">
            Недостаточно прав для отображения результатов этого теста.
        </div>
    }
}
